.card{
    width: 13%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.card-title{
    font-family: 'Permanent Marker', cursive;
    font-size: large;
    font-weight: bold;
}

.card-content{
    font-family: 'Permanent Marker', cursive;
    color: #4c4c4c;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10px;
    flex-grow: 1;
}

.btn-edit {
    margin-top: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: #45a049;
}

.btn-delete {
    margin-top: 10px;
    background-color: #ff4757;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #ff3838;
}